EXTRA_HOST              # Для соответствия домена и IP адреса RabbitMQ в формате: domain:ip

RABBITMQ_USER           # Пользователь RabbitMQ
RABBITMQ_PASSWORD       # Пароль пользователя
RABBITMQ_HOST           # Домен RabbitMQ
RABBITMQ_PORT           # Порт 5671 для amqps
RABBITMQ_VHOST          # Виртуальный хост, по умолчанию = /
RABBITMQ_EXCHANGE       # Название exchange - zabbix-action
RABBITMQ_QUEUE          # Название очереди - sevenergo
RABBITMQ_ROUTING_KEY    # Название ключа маршрутизации - sevenergo

ZABBIX_URL              # Должен быть формата https://localhost/zabbix
ZABBIX_USER             # Пользователь, от которого будут подписываться аварии
ZABBIX_PASSWORD

# Для parser
ECSTASY_API_URL       # http://domain
ECSTASY_API_USERNAME
ECSTASY_API_PASSWORD
ECSTASY_LAYER_NAME    # название слоя